*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --grey-color: #d3d3d3;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.6fr 5fr;  
}

.container > * {
    border: 1px solid;
}

.header {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
}

.header .multifunctionalBar {
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 5fr repeat(3, 0.5fr); 
    justify-items: center; 
    align-items: center;
}

.multifunctionalBar .svgHolder {
    width: 50px;
    height: 50px;
}

.multifunctionalBar .searchBar {
    justify-self: stretch;
    font-size: 1.5rem;
    border-radius: 20px;
    outline: none;
    margin-right: 100px;
    border: 1px solid #f5f5f5;
    background-color: #d3d3d3;
    height: 60px;
    padding-left: 5px;
}

.multifunctionalBar .profilePhoto img{
    width: 60px;
    height: 60px; 
}

.multifunctionalBar .userName {
    font-size: 1.5rem;
    text-align: center;
}

.multifunctionalBar .notificationIcon,
    .profilePhoto,
    .userName {
        margin-right: 10px;
    }

.controlBoard {
    margin: 0 15px;
    display: grid;
    grid-template-columns: 0.5fr 5fr repeat(3, 0.5fr);  
    place-items: center; 
    place-content: center;
}

.controlBoard .profilePhoto img{
    width: 100px; 
    height: 100px; 
    margin-left: 20px;
} 

.controlBoard .greeting {
    justify-self: start; 
    font-size: 1.5rem;
    line-height: 1.5em; 
    font-weight: 600; 
}

.controlBoard .greeting .userGreeted {
    font-size: 2rem;
}

.controlBoard .postControl {
    display: contents;
}

.controlBoard .postControl button {
    font-size: 1rem;
    padding: 10px;
    width: 120px;
    border-radius: 20px;
    margin-right: 10px;
    border: 1px solid #1E90FF;
    background-color: #1E90FF;  
    color: white;
    cursor: pointer;
}

.sidebar {
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 5fr; 
    grid-template-columns: 1fr;
    align-items: start;  
    background-color: #1E90FF;
}

.webpageName{
    margin-left: 25px;  
    font-size: 1.3rem; 
}

.webpageName div a:last-child {
    margin-left: 1px; 
    vertical-align: 27px;
    font-size: 2rem;
}

.webpageMenu,
.webpageControls, div a:last-child {
    margin-left: 15px;
    vertical-align: 8px;
}

.webpageMenu,
.webpageControls {  
    margin-left: 37px;  
    font-size: 1.3rem; 
} 

.webpageName {
    margin-bottom: 50px;
}

.webpageMenu { 
    margin-bottom: 50px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.webpageName svg { 
    width: 80px;
    height: 80px;
}

.webpageMenu svg {
    width: 30px;
    height: 30px;
}

.webpageControls svg {
    width: 30px;
    height: 30px;
}

.sidebar svg {
    fill: white
}

.mainBoard {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 4fr 1.8fr;  
    grid-template-rows: 0.1fr 420px 0.1fr 420px 4fr;    
    background-color: var(--grey-color)
}

.projects {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.announcements {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.trending {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.projectsBoard {
    grid-row: 2 / 5;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45ch, 60ch)); 
    grid-template-rows: repeat(auto-fit, minmax(250px, 280px));
}

.announcementsBoard {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.trendingBoard {
    grid-row: 4 / 5;
    grid-column: 2 / 3;

}

.projectsBoard svg {
    width: 30px;
    height: 30px;
}

.projects,
.announcements,
.trending {
    font-size: 1.5rem;
    align-self: center;
    margin: 0px 0px 0px 20px;
    font-weight: 600; 
    padding-top: 20px;
}

.panelContainer {
    margin: 20px 20px;
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    padding: 20px 20px 0px 20px; 
    background-color: white;
    border-left: 10px solid orange;
    box-shadow: 1px 1px 5px;
    overflow: auto;
}

.panelTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.commands {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin-left: auto;
    margin-top: 40px;
}

.commands svg {
    cursor: pointer;
}

.announcementsBoard {
    height: 400px;
    width: 45ch;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(autofit, minmax(200px, 1fr)); 
    overflow: auto;
    margin-top: 20px;
    padding: 20px;
    row-gap: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}

.newAnnounce {
    border-bottom: 2px solid var(--grey-color);
    padding-bottom: 15px;
}

.newAnnounce div:first-child {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.trendingBoard {
    height: 400px;
    width: 45ch;
    overflow: auto;
    margin-top: 20px;
    padding: 20px;
    row-gap: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(autofit, minmax(100px, 1fr));

}

.newTrends {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

.newTrends div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;  
}

.newTrends img {
    height: 80px;
    width: 80px; 
}

