*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --my-color: blue;
}

body {
    height: 100vh; 
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.container > * {
    border: 1px solid;
}

.header {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
}

.header .multifunctionalBar {
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.4fr 5fr repeat(3, 0.5fr); 
    justify-items: center; 
    align-items: center;
}

.multifunctionalBar .svgHolder {
    width: 50px;
    height: 50px;
}

.multifunctionalBar .searchBar {
    justify-self: stretch;
    font-size: 1.5rem;
    border-radius: 10px;
    outline: none;
    margin-right: 100px;
    border: 1px solid #f5f5f5;
    background-color: #d3d3d3;

}

.multifunctionalBar .profilePhoto img{
    width: 60px;
    height: 60px; 
}

.multifunctionalBar .userName {
    font-size: 1.5rem;
    text-align: center;
}

.controlBoard .profilePhoto img{
    width: 60px;
    height: 60px; 
}

.sidebar {
    grid-row: 1/3;
    grid-column: 1/2;
}

.mainBoard {
    grid-row: 2/3;
    grid-column: 2/3;
}